<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Shopping App{% endblock %}</title>


</head>

<body>
    <header>

        <nav>
            <a href="{% url 'lists:shoppinglist-index' %}">Lists</a>
            <a href="{% url 'lists:invites-dashboard' %}">Invites</a>
            <form action="{% url 'logout' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" style="background:none;border:none;color:blue;cursor:pointer;">
                    Logout
                </button>
            </form>

        </nav>
    </header>

    <main>

        {% if messages %}
        <script>
            {% for message in messages %}
            alert("{{ message|escapejs }}");
            {% endfor %}
        </script>
        {% endif %}

        {% block content %}{% endblock %}

    </main>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>


    <script>
        document.body.addEventListener("htmx:configRequest", (event) => {
            const token = document.querySelector("[name=csrfmiddlewaretoken]")?.value;
            if (token) {
                event.detail.headers["X-CSRFToken"] = token;
            }
        });
    </script>
</body>

</html>