<h1>Add item to {{ shoppinglist.name }}</h1>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add Item</button>
    <button type="submit" name="action" value="add_another">Add Another item</button>
    <a href="{% url 'lists:shoppinglist-detail' list_id=shoppinglist.id %}">Cancel</a>
</form>

<h3>Items already in {{ shoppinglist.name }}</h3>
<ul>
    {% for item in items %}
    <li>{{ item.name }} — {{ item.get_status_display }}</li>
    {% empty %}
    <li>No items currently in this list.</li>
    {% endfor %}
</ul>