<!DOCTYPE html>



<html>

<head>
    <title> {{ shoppinglist.name }}</title>
</head>

<body>
    <h1> {{shoppinglist.name}}</h1>
    <ul>
        {% for item in items %}
        <li> {{item.name}} ............ <strong>{{ item.get_status_display }}</strong>
            <a href="{% url 'edit-item' item.id%}">Edit item</a>
        </li>

        {% empty %}
        <li>No items in this list yet.</li>
        {%endfor %}
    </ul>

    <a href="{% url 'add-item' shoppinglist.id%}">Add item to this list</a>
    <p></p>
    <a href="{% url 'shoppinglist-index' %}">Back to all lists</a>



</body>

</html>